@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-navy-300: hsl(201, 45%, 11%);
  --color-navy-200: hsl(202, 32%, 15%);
  --color-navy-100: hsl(199, 35%, 19%);

  --color-silver-400: hsl(199, 27%, 18%);
  --color-silver-300: hsl(199, 17%, 51%);
  --color-silver-200: hsl(198, 23%, 72%);
  --color-silver-100: hsl(197, 33%, 89%);

  --color-blue-300: hsl(178, 78%, 31%);
  --color-blue-200: hsl(178, 60%, 48%);
  --color-blue-100: hsl(178, 75%, 65%);

  --color-yellow-300: hsl(39, 83%, 44%);
  --color-yellow-200: hsl(39, 88%, 58%);
  --color-yellow-100: hsl(39, 100%, 69%);

  --font-*: initial;
  --font-primary: "Outfit", serif;

  --font-weight-*: initial;
  --font-weight-bold: 700;
  --font-weight-medium: 500;

  --width-game-window: 90%;
  --width-almost-full: 90%;
  --max-width-game-window: 31.25rem;

  --breakpoint-*: initial;
  --breakpoint-mobile: 36.563em;
  --breakpoint-tablet: 48em;
  --breakpoint-desktop: 79.625em;

  --inset-shadow-navy-sm: inset 0px -4px 0px var(--color-navy-300);
  --inset-shadow-blue-sm: inset 0px -4px 0px var(--color-blue-300);
  --inset-shadow-yellow-sm: inset 0px -4px 0px var(--color-yellow-300);
  --inset-shadow-navy-lg: inset 0px -8px 0px var(--color-navy-300);
  --inset-shadow-blue-lg: inset 0px -8px 0px var(--color-blue-300);
  --inset-shadow-yellow-lg: inset 0px -8px 0px var(--color-yellow-300);
  --inset-shadow-silver-sm: inset 0px -4px 0px var(--color-silver-300);
}
